{% extends 'base.html' %}

{% block title %}Tableau de bord Employé{% endblock %}

{% block content %}
<h1>Bienvenue {{ user.first_name }} {{ user.last_name }}</h1>
<p>Ceci est votre espace personnel.</p>

<ul>
    <li><a href="{% url 'mon_dossier' %}">Mon dossier personnel</a></li>
    <li><a href="{% url 'mes_conges' %}">Mes congés</a></li>
    <li><a href="{% url 'demander_conge' %}">Faire une demande de congé</a></li>
    <li><a href="{% url 'mes_formations' %}">Mes formations</a></li>
    <li><a href="{% url 'mes_salaires' %}">Mes bulletins de salaire</a></li>
    <li><a href="{% url 'compte' %}">Mon compte</a></li>
</ul>
{% endblock %}
