{% extends "base.html" %}

{% block title %}Ajouter/Modifier Contrat{% endblock %}

{% block content %}
    <h1>{% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %} un Contrat</h1>
    
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            
            {{ form.as_p }} 

            <button type="submit" class="btn-submit">Sauvegarder</button>
        </form>
    </div>
    
    <p><a href="{% url 'liste_contrats' %}">Retour à la Liste</a></p>
{% endblock %}